$white:      #fff;
$black:      #000;

$grey-cf:    #cfcfcf;
$grey-f4:    #f4f4f4;
$grey-e4:    #e4e4e4;
$blue-light: #09b1ff;
$blue-sky:   #d0ebf7;
$blue:       #0d8aff;
$green:      #50d133;


$font-size-base:   1.4rem;
$line-height-base: auto;
$font-size-h3:     $font-size-base + 2;

$font-family-base: "Roboto", Arial, sans-serif;